.DS_Store
vim/.netrwhist
vim/autoload/plug.vim
vim/autoload/plug.vim.old
vim/plugged/
sublime3/User/Package\ Control.sublime-settings
sublime3/User/Package Control.last-run
sublime3/User/ShopifyStores.json
!.gitkeep
