[user]
  name = Brandon Iffert
  email = brandoniffert@gmail.com

[alias]
  a = add
  aa = add --all
  amend = commit --amend
  b = branch
  ci = commit --verbose
  cl = clone
  cm = commit -m
  co = checkout
  d = diff
  dc = diff --cached
  fa = fetch --all
  ff = merge --ff-only
  l = log --graph --abbrev-commit --date=relative --topo-order
  la = log --graph --abbrev-commit --date=relative --topo-order --all
  noff = merge --no-ff
  st = status
  dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto

[format]
  pretty=format:%Cgreen%h%Creset %s%Cred%d%Creset %Cblue(%ar) %C(black bold)%an%Creset

[merge]
  tool = vimdiff
[push]
  default = simple
[github]
  user = brandoniffert
[core]
  excludesfile = ~/.gitignore.global
[pull]
  ff = only
[diff]
  compactionHeuristic = true

# Include a local gitconfig for machine specific config (ex: credential.helper)
[include]
  path = ~/.gitconfig.local
