:root {
  --gray-400: #323639;
  --gray-500: #3b4045;
  --gray-600: #282c2f;
  --gray-700: #202124;
  --purple-400: #8000d7;
  --purple-500: #4d0080;  

  --toolbar-bgcolor: var(--gray-400) !important;
  --lwt-accent-color: var(--gray-700) !important;
  --tabs-border: transparent !important;
  --lwt-toolbar-field-background-color: var(--gray-600) !important;
  --lwt-toolbar-field-border-color: var(--gray-500) !important;
  --lwt-background-tab-separator-color: var(--gray-500) !important;
  --tabs-border-color: var(--gray-500) !important;
  --tab-min-height: 35px !important;
  --chrome-nav-bar-controls-border-color: transparent !important;
  --toolbox-border-bottom-color: transparent !important;
  --chrome-content-separator-color: transparent !important;
  --chrome-nav-bar-controls-border-color: transparent !important;
  --toolbox-border-bottom-color: transparent !important;
}

/**************************************
 * Tabs
 *************************************/

#tabbrowser-tabs {
  --tab-min-width: 42px !important;
}

/* Remove border on tabs */
.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border-left: none !important;
}

/* Replace favicon on tabs with close button on hover */
.tabbrowser-tab:not(:hover) .tab-close-button {
  opacity: 0 !important;
  transition: opacity 0.2s ease !important;
}

.tabbrowser-tab:not([pinned]) .tab-close-button {
  margin-top: 2px !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  opacity: 1 !important;
  display: initial !important;
}

/* Make tab line smaller */
.tab-line {
  height: 2px !important;
}

/* Change inactive tab hover */
#TabsToolbar[brighttext] .tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"]):not([multiselected]) {
  background: var(--toolbar-bgcolor) !important;
}

/* Remove new tab button */
#tabs-newtab-button {
  display: none !important;
}

/**************************************
 * Toolbar & Buttons
 *************************************/

/* Make buttons smaller */
toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  width: calc(2 * var(--toolbarbutton-inner-padding) + 13px) !important;
  height: calc(2 * var(--toolbarbutton-inner-padding) + 13px) !important;
}

/* Make spacers smaller and remove border */
.titlebar-spacer[type="pre-tabs"] {
  width: 28px !important;
  border-inline-end: none !important;
}

/* Remove Back button circle, fix size */
:root:not([uidensity="compact"]) #back-button {
  padding-inline-start: 6px !important;
}

:root:not([uidensity="compact"]) #back-button > .toolbarbutton-icon {
  padding: var(--toolbarbutton-inner-padding) !important;
}

:root:not([uidensity="compact"]) #back-button:not(:hover),
:root:not([uidensity="compact"]) #back-button:not(:hover) > .toolbarbutton-icon {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

:root:not([uidensity="compact"]) #back-button:hover,
:root:not([uidensity="compact"]) #back-button:hover > .toolbarbutton-icon {
  border: none !important;
  border-radius: var(--toolbarbutton-border-radius) !important;
}

/* Remove border from toolbar */
#navigator-toolbox {
  border-bottom: none !important;
}

/**************************************
 * Urlbar
 *************************************/

/* Remove box shadow */
:root:-moz-any([sizemode="fullscreen"],
[customize-entered]) #nav-bar:not([tabs-hidden="true"]),
:root:not([tabsintitlebar]) #nav-bar:not([tabs-hidden="true"]),
#nav-bar:not([tabs-hidden="true"]):-moz-lwtheme {
  box-shadow: none !important;
}

/* Decrease box shadow */
#urlbar:not(.megabar)[focused="true"],
#urlbar.megabar[focused="true"] > #urlbar-background,
#searchbar:focus-within {
  box-shadow: 0 0 0 1px var(--toolbar-field-focus-border-color) inset !important;
}

/* Lower font size and increase padding */
#urlbar-input-container {
  font-size: 12px !important;
  padding: 0 3px !important;
}

/* Add border radius */
#urlbar {
  border-radius: 10px !important;
}

/* Make urlbar appear more compact */
#urlbar[breakout] {
  margin-inline-start: 0px !important;
  width: 100% !important;
  left: 0 !important;
  top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
}

#urlbar[breakout]:not([open]) {
  bottom: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
}

.urlbarView {
  margin-inline: 0 !important;
  width: auto !important;
}

.urlbarView-row {
  padding: 0 2px !important;
}

.urlbarView-row-inner {
  padding-inline-start: 4px !important;
}

#urlbar-background {
  animation: none !important;
}

#urlbar-input-container {
  padding: 0 !important;
  height: 100% !important;
}

#identity-icon {
  margin-block: var(--urlbar-icon-padding)
}

.urlbarView > .search-one-offs:not([hidden]) {
  padding-block: 0px !important;
}

/**************************************
 * Status Panel
 *************************************/

/* Add dark theme for status panel */
#statuspanel-label {
  background-color: var(--toolbar-bgcolor) !important;
  border: none !important;
  color: #eee !important;
  padding: 5px 8px !important;
}


/**************************************
 * Private Browsing
 *************************************/

#main-window[privatebrowsingmode="temporary"] {
  --lwt-selected-tab-background-color: var(--purple-400) !important;
}

#main-window[privatebrowsingmode="temporary"] #TabsToolbar[brighttext] .tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"]):not([multiselected]) {
  background: var(--lwt-selected-tab-background-color) !important;
}

#main-window[privatebrowsingmode="temporary"] #TabsToolbar {
  background: var(--purple-500) !important;
}

.titlebar-buttonbox-container,
.titlebar-spacer[type="pre-tabs"] {
  display: none;
}
